@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #232426;
  --foreground-80: #5e6166;
  --foreground-20: #c9cdd1;
  --foreground-10: #e1e3e6;
  --foreground-05: #00000005;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #181818; */
    --background: #222222;
    --foreground: #ffffff;
    --foreground-80: #a0a0a0;
    --foreground-20: #5d5d5d;
    --foreground-10: #2b2b2b;
    --foreground-05: #ffffff10;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
